<%
  data_type = "commits"  if data_type  == "count"
  other_type = "commits" if other_type == "count"
  title = "#{data_type.titleize} by Week: #{username}"
%>

<html>
  <head>
    <title><%= title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script> 
  </head>
  <body>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    
    <script type="text/javascript">
    //<![CDATA[
      var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'container',
        },
        plotOptions: {
          series: {
            shadow: false,
            lineWidth: 1,
            marker: {
              enabled: false
            }
          },
          area: {
            stacking: 'normal'
          }
        },
        title: {
          text: '<%= title %>'
        },
        xAxis: {
          categories: <%= labels.to_json %>
        },
        yAxis: [
        { // data
          title: {
            text: ''
          },
          min: 0
        },
        { // other
          title: {
            text: ''
          },
          labels: {
            style: {
              color: '#5EAAE4'
            }
          },
          opposite: true,
          min: 0
        }
        ],
        tooltip: {
          formatter: function() {
            return '' + this.series.name + ': ' + this.y.toString();
          }
        },
        credits: {
          enabled: false
        },
        series: [
          <% data.each do |key, array| %>
            {
              name: '<%= key.include?('/') ? key : key.titleize %>',
              <%= "color: '#F17F49'," if data.size == 1 %>
              
              type: 'area',
              data: <%= array.to_json %>
            },
          <% end %>
          {
            name: '<%= other_type.titleize %>',
            color: '#5EAAE4',
            type: 'line',
            dashStyle: 'LongDash',
            yAxis: 1,
            data: <%= other.to_json %>
          },
        ]
      });
    //]]>
    </script>
  </body>
</html>